[submodule "klib"]
	path = klib
	url = https://github.com/attractivechaos/klib
[submodule "rollinghashcpp"]
	path = rollinghashcpp
	url = https://github.com/lemire/rollinghashcpp
[submodule "fpwrap"]
	path = fpwrap
	url = https://github.com/dnbaker/fpwrap
