[submodule "klib"]
	path = klib
	url = https://github.com/attractivechaos/klib
[submodule "rollinghashcpp"]
	path = rollinghashcpp
	url = https://github.com/lemire/rollinghashcpp
[submodule "fpwrap"]
	path = fpwrap
	url = https://github.com/dnbaker/fpwrap
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
[submodule "clhash"]
	path = clhash
	url = https://github.com/lemire/clhash
